<nav class="sidebar">
  <a routerLink="/patterns" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    🧩 Angular Patterns
  </a>

  <a routerLink="/classic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    📚 Classic GoF
  </a>

  <a routerLink="/solid" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    🧱 S.O.L.I.D.
  </a>

  <a routerLink="/grasp" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    🧠 GRASP
  </a>

  <a routerLink="/clean-code" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    ✏️ Clean Code
  </a>

  <a
    routerLink="/frontend-architecture"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    🏗️ FE Architecture
  </a>

  <a routerLink="/reactive" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    🔄 Reactive
  </a>

  <a
    routerLink="/architecture"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    🏛️ Architecture
  </a>
</nav>
